<!DOCTYPE html>
<html>
<head>
  <title>Luke Stoss Photos</title>

<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="brand-name">
        <a href="/"><h1>Luke Stoss Photos</h1></a>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="about">About</a></li>
          <li><a href="work">Work</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>


</head>
<!-- Header End -->


<!-- Body Start -->
<body>
  <h1>Your life, your loved ones, your memories forever.</h1>
    <p>I’m Luke Stoss, and I am a portrait photographer. I’ve got all you need for professional photography.
Click below for examples of my work and get in contact for your session!</p>
  <br>
  <button><a href="/contact">Contact Me</a></button>
</body>
<!-- Body End -->
</html>
