<!DOCTYPE html>
<html>
<head>
  <title>Luke Stoss Photos</title>
</head>
<body>
  <h1>Luke Stoss Photos</h1>

<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="brand-name">
        <a href="/">Luke Stoss Photos</a>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="about">About</a></li>
          <li><a href="work">Work</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>



<!-- Header End -->

</body>
</html>
