<!DOCTYPE html>
<html>
<%= stylesheet_link_tag '/app/assets/stylesheets/home.css' %>


<!-- Body Start -->
<body>
  <div id="body">
    <div id="portrait">
      <%= image_tag "/assets/homepage_portrait.png" %>
    </div>
    <div id="text-box">
      <h1>Your life, your loved ones, your memories forever.</h1>
      <p>I’m Luke Stoss, and I am a portrait photographer. I’ve got all you need for professional photography.
        Click below for examples of my work and get in contact for your session!</p>
        <br>
        <br>
        <div id="button">
          <a href="/contact" class="button">Contact Me</a>
        </div>
    </div>
    <br>
  </div>
</body>
<!-- Body End -->
</html>
