<%= stylesheet_link_tag 'about.css' %>

<div id="container">
  <h1>About Me</h1>
  <h3>I’m a professional photographer based out of Kansas City.</h3>
  <p>I’m always looking for more ways to bring creativity into the world.
  With my hands on experience, I aim to provide a professional and fun experience for clients.
  I specialize in candid portraits of both individuals and couples!
  We focus more on ideas and actions than just static poses.
  It brings a lighter and more natural feel to the photos!
  If you like my work, head to my contact page and book a session today! No occasion necessary ;)
  </p>
</div>
