body {
  font-family: sans-serif;
}

#brand-name {
  padding: 10px;
  margin: 0px auto 0px;
  text-align: left;
  bottom: 0;
  position: absolute;
  width: 300px;
}

div.container {
  background-image: url(/assets/header.jpeg);
  height: 500px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

nav.nav {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
}

ul {
  width: auto;
  padding: 15px;
  margin: 0px auto 0px auto;
  text-align: right;
}

li {
  display: inline-block;
  margin-right:10px;
  padding-bottom: 10px;
  font-size: 24px;
}

a {
  color: #000000;
}

a:hover, a.on {
  color:#808080;
}

#body {
  width: 1200px;
  padding-top: 50px;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
#portrait {
  height: 500px;
}

#text-box {
  height: 500px;
}

a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  center: 0;

}

a.button:hover {
 color:#000000;
 background-color:#FFFFFF;
}

@media all and (max-width:30em){
 a.button {
  display:block;
  margin:0.4em auto;
 }
}
