body {
  font-family: sans-serif;
}

#brand-name {
  padding: 15px;
  margin: 0px ato 0px auto;
  text-align: left;
}

ul {
  width: auto;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-bottom: 1px solid #000;
  text-align: right;
}

li {
  display: inline-block;
  margin-right:10px;
}

a:hover, a.on {
  color:#000000;
  background-color: #ffffff;
}

#text-box {
  width: 50%;
  position: static;
}

#body {
    width: 800px;
    margin: 0 auto;
}
#portrait {
    width: 300px;
    height: 500px;
    float: left;
}

#text-box {
    width: 300px;
    background: #ffffff;
    height: 500px;
    margin-left: 200px;
    float: right;
}
